html,body{
  height:100%;
  width:100%;
  font-size:80%;
  font-family:arial;
}

h1 {
  font-size:2.0em;
  font-style:normal;
}
h2 {
  font-size:1.875em;
}
h3 {
  font-size:1.250em;
}
p {
  font-size:0.875em;
}

div.boulder-full {
    background-color:white;
    color:black;
    margin:20px;
}
div.boulder-numb {
    background-color:white;
    color:black;
    display:inline;

}
div.boulder-rest {
    background-color:white;
    color:black;
    display:inline;
}
div.boulder-main {
    background-color:white;
    color:black;
    display:inline;
}
div.boulder-info {
    background-color:white;
    color:grey;
}
</style>

