html,body{
  height:95%;
  width:95%;
}

div.boulder-full {
    background-color:white;
    color:black;
    margin:20px;
}
div.boulder-numb {
    background-color:white;
    color:black;
    display:inline;

}
div.boulder-rest {
    background-color:white;
    color:black;
    display:inline;
}
div.boulder-main {
    background-color:white;
    color:black;
    display:inline;
}
div.boulder-info {
    background-color:white;
    color:grey;
}
</style>

