<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="pdfkit-page_size" content="LA4"/>
<meta name="pdfkit-margin_top" content="1cm"/>
<meta name="pdfkit-margin_right" content="1cm"/>
<meta name="pdfkit-margin_bottom" content="5cm"/>
<meta name="pdfkit-margin_left" content="1cm"/>

<title>{{ title }}</title>

<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

<h1>{{ title }}</h1>

<div class="info">
{{ road }} 
</div>

<div class="date">
{{ date }}
</div>

{% for topo in list %} 

<a href={{ topo }}><img src={{ topo }} width=95%></a>
<br>

{% endfor %}

<h2>Popular boulders</h2>

{% for boulder in numb_popu %} 

<div class="boulder-full">

  <div class="boulder-numb"> 
    {{ boulder }} 
  </div>
  <div class="boulder-rest">
    <div class="boulder-main">
      <b>{{ name_popu[loop.index0] }}</b>,
      {{ grad_popu[loop.index0] }},
      <i>{{ reps_popu[loop.index0] }} repeats</i>
	</div>
  </div>
</div>

{% endfor %}

<h2>Boulders</h2>

{% for boulder in numb %} 

<div class="boulder-full">
  <div class="boulder-numb"> 
    {{ boulder }} 
  </div>
  <div class="boulder-rest">
    <div class="boulder-main">
      <b> {{ name[loop.index0] }}</b>,
      {{ grad[loop.index0] }},
      <em> {{ open[loop.index0] }}</em>,
      {{ type[loop.index0] }},
      <i> {{ reps[loop.index0] }} repeats</i> 
    </div>
    <div class="boulder-info">
      {{ info[loop.index0] }} 
    </div>
  </div>
</div>

{% endfor %}

</body>
</html>
