html,body{
  height:297mm;
  width:210mm;
  font-size:90%;
  font-family:sans-serif;
  margin-top: 10mm;
  margin-bottom: 10mm;
  margin-right: 10mm;
  margin-left: 10mm;
}

h1 {
  font-size:2.0em;
  font-style:normal;
}
h2 {
  font-size:1.875em;
}
h3 {
  font-size:1.250em;
}
p {
  font-size:0.875em;
}

div.info {
	text-align: justify;
}
div.boulder-full {
    background-color:white;
    color:black;
	padding-bottom:1px;
}
div.boulder-numb {
    background-color:white;
    color:black;
	width:20px;
    display:table-cell;
}
div.boulder-rest {
    background-color:white;
    color:black;
    display:table-cell;
	margin-left:10px;
}
div.boulder-main {
    background-color:white;
    color:black;
    display:inline;
	margin-left:15px;
}
div.boulder-info {
    background-color:white;
    color:grey;
    display:block;
	text-align: justify;
	margin-top:3px;
	margin-left:15px;
	padding-bottom:10px;
}
</style>

